<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <%- include('connect_styles') %>
</head>
<%- include('header') %>
<body>
    <div class="container">
          <center><img src="https://ic.pics.livejournal.com/imhotype/24051864/433166/433166_original.png" class="img-fluid" width="50%"></center>
                <h2><center>Веб-приложение</center></h2><br>
                    <ul>В нем есть всего 3 функции:
                        <li>Узнать погоду в определенном городе</li>
                        <li>Работа с пользователями</li>
                        <li>Узнать все модели авто по марке</li>
                    </ul>
    </div>
</body>
</html>