
<header>
  <div class="logo">
    <span style="color: var(--accent-color);">APP</span>
    <span>USERS</span>
  </div>
  <div class="menu-links">
    <a href="/">Главная</a>
    <a href="/users">Пользователи</a>
  </div>
</header>